*{
    box-sizing: border-box;  
}

:root{
    --cell: 100px;
    --mark: calc(var(--cell) * 0.9);
    --board: rgb(255, 255, 255);
    --mark-col: rgb(55, 49, 72);
}

body{
    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(81, 76, 95);
    display: grid;
    align-content: center;
    justify-content: center;
    box-shadow: 0 2px 20px 20px black;
}

.playerselect {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.playerselect button {
    height: 40px;
    width: 80px;
}

.gameboard {
    background-color: var(--board);
    border-radius: 10px;
    width: 320px;
    height: 320px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell);
    height: var(--cell);
    border: 1px solid rgba(0, 0, 0, 0.549);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: 0;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7){
    border-left: 0;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: 0;
}

.cell:nth-child(7), 
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: 0;
}

.cell.x::before,
.cell.x::after{
    content: '';
    position: absolute;
    background-color: var(--mark-col);
    width: calc(var(--mark)* .10);
    height: var(--mark);
}

.cell.x::before{
    transform: rotate(45deg);
}

.cell.x::after{
    transform: rotate(135deg);
}

.cell.o::before,
.cell.o::after{
    content: '';
    position: absolute;
    width: calc(var(--mark)* .9);
    height: calc(var(--mark)* .9);
    background-color: var(--mark-col);
    border-radius: 50px;
}

.cell.o::after{
    background-color: var(--board);
    width: calc(var(--mark) * .7);
    height: calc(var(--mark) * .7);
}

.win-message {
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 30px;
    font-family: Arial;
    visibility: hidden;
}

.win-message button {
    height: 20px;
    display: block;
}